@using MudBlazor

@inject AuthenticationStateService authStateService
@inject NavigationManager Navigation
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">expenzo</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div> *@

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="home">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="category">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create Tags
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transaction">
                <MudIcon Icon="@Icons.Material.Filled.Money" style="margin-right: 5px;" /> Transactions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="debt">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Debts
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="edit-user">
                <MudIcon Icon="@Icons.Material.Filled.Settings" style="margin-right: 5px;" /> Edit User
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="Logout">
                <MudIcon Icon="@Icons.Material.Filled.Logout" style="margin-right: 5px;" /> Logout
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private void Logout()
    {
        authStateService.Logout();
        Navigation.NavigateTo("/");
    }
}