@page "/category"
@inject expenzo.Database.CategoryDao CategoryDao

<h3>Category</h3>
<button class="btn btn-primary" @onclick="ShowAddPopup">Add Category</button>
<AddCategoryPopup IsVisible="isAddPopupVisible" OnClose="HideAddPopup" />
<EditCategoryPopup IsVisible="isEditPopupVisible" OnClose="HideEditPopup" CategoryToEdit="categoryToEdit" />

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in categories)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <button class="btn btn-secondary" @onclick="() => ShowEditPopup(category)">Edit</button>
                    <button class="btn btn-danger" @onclick="() => DeleteCategory(category.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code
{
    private bool isAddPopupVisible = false;
    private bool isEditPopupVisible = false;
    private List<Models.Category> categories = new List<Models.Category>();
    private Models.Category categoryToEdit = new Models.Category();

    protected override async Task OnInitializedAsync()
    {
        categories = await Task.Run(() => CategoryDao.GetCategories());
    }

    private void ShowAddPopup()
    {
        isAddPopupVisible = true;
    }

    private void HideAddPopup()
    {
        isAddPopupVisible = false;
        categories = CategoryDao.GetCategories();
    }

    private void ShowEditPopup(Models.Category category)
    {
        categoryToEdit = category;
        isEditPopupVisible = true;
    }

    private void HideEditPopup()
    {
        isEditPopupVisible = false;
        categories = CategoryDao.GetCategories();
    }

    private void DeleteCategory(int categoryId)
    {
        CategoryDao.DeleteCategory(categoryId);
        categories = CategoryDao.GetCategories();
    }
}