@page "/home"
@inject DebtDao DebtDao
@inject TransactionDao TransactionDao

<h3>Dashboard</h3>
<style>
        .bg-skyblue {
            background-color: navy;
        }
    </style>

<div class="row">
    <div class="col-md-4">
        <div class="dashboard-card bg-success text-white text-center">
            <h5>Balance</h5>
            <h2>@totalBalance</h2>
        </div>
    </div>
    <div class="col-md-4">
    <div class="dashboard-card bg-skyblue text-white text-center">
        <h5>Income</h5>
        <h2>@totalIncome</h2>
    </div>
    </div>

    
    <div class="col-md-4">
        <div class="dashboard-card bg-danger text-white text-center">
            <h5>Expense</h5>
            <h2>@totalExpense</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="dashboard-card bg-danger text-white text-center">
            <h5>Pending Debts</h5>
            <h2>@remainingDebt</h2>
        </div>
    </div>
</div>

@code {
    private decimal totalBalance;
    private decimal totalIncome;
    private decimal totalExpense;
    private decimal remainingDebt;

    protected override void OnInitialized()
    {
        totalIncome = TransactionDao.GetTotalIncomeAmount();
        totalExpense = TransactionDao.GetTotalExpenseAmount();
        remainingDebt = DebtDao.GetTotalDebtRemainingAmount();
        totalBalance = totalIncome + remainingDebt - totalExpense;
    }
}