@page "/home"
@inject DebtDao DebtDao
@inject TransactionDao TransactionDao

<h3>Dashboard</h3>

<div class="row">
    <div class="col-md-4">
        <div class="dashboard-card bg-success text-white text-center">
            <h5>Balance</h5>
            <h2>@totalBalance</h2>
        </div>
    </div>
</div>

@code {
    private decimal totalBalance;

    protected override void OnInitialized()
    {
        var totalIncome = TransactionDao.GetTotalIncomeAmount();
        var totalExpense = TransactionDao.GetTotalExpenseAmount();
        var totalDebt = DebtDao.GetTotalDebtRemainingAmount();
        totalBalance = totalIncome + totalDebt - totalExpense;
    }
}

