@page "/debt"



<h3>Debt</h3>

@code
{
    Models.Debt debt = new Models.Debt()
    {
        DebtAmount = 5000.00m,
        DebtTakenDate = DateTime.Now,
        DebtDueDate = DateTime.Now.AddMonths(6),
        DebtSource = "Bank Loan"
    };
}

<br/>
Debt Amount: @debt.DebtAmount
<br/>
Debt Taken Date: @debt.DebtTakenDate.ToString("MM/dd/yyyy")
<br/>
Debt Due Date: @debt.DebtDueDate.ToString("MM/dd/yyyy")
<br/>
Debt Source: @debt.DebtSource